.container-base {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100vw;
    height: 70vh;
    margin: 50px 0;
    padding-top: 36px;
    background-color: rgba(247,247,247,1);
    text-align: center;

}

.rounded-container {
    display: flex;
    width: 100%;
    max-width: 768px;
    border-style: solid;
    border-width: 16px;
    background-color: white;
    border-color: white;
    border-radius: 28px;
    box-shadow: -7px 7px 50px rgba(34, 60, 80, 0.2);
}

.contacts-container {
    display: flex;
    width: 100%;
    align-self: center;
    background-color: rgba(247,247,247,1);
    border-style: solid;
    border-width: 16px;
    border-color: rgba(247,247,247,1);
    border-radius: 20px;
}

.contacts-title {
    font-size: 26px;
    font-weight: normal;
    margin: 15px auto 20px
}

.contacts-form {
    display: flex;
    flex-direction: column;
    width: 400px;
}

.form-input {
    display: flex;
    height: 48px;
    border-style: solid;
    border-color: #d6d6d6;
    border-width: 1px;
    border-radius: 30px;
    margin-bottom: 20px;
    outline: none;
}

.form-input:focus {
    outline: grey;
    border-color: grey;
    transition: border 0.4s linear;
}

.form-input:focus::placeholder {
        color: transparent;
}

.form-input-text {
    padding: 1px 10px;
    font-size: 10px;
    font-family: "Ubuntu", Arial, Helvetica, sans-serif;
}

.message-input {
    height: 130px;
    resize: none;
    padding: 14px 10px;
    line-height: 1.6em;
}

.form-button {
    display: flex;
    line-height: 48px;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    background-color: #2a77ed;
    border: 0;
    border-radius: 40px;
    color: white;
    justify-content: center;
    margin: auto;
    font-size: 11px;
    font-family: "Ubuntu", Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.consent_text {
    width: 220px;
    margin: 20px auto 30px auto;
    display: flex;
    font-size: 12px;
    color: #bebebe;
}